<footer class="footer">
  <div class="container">
    <div class="social">
      <div class="social__text">Мои соц.сети</div>
      <a class="social__link" href="https://vk.com/genylep" target="_blank">
        <svg class="social__icon">
          <use xlink:href="#vk"></use>
        </svg>
      </a>
      <a class="social__link" href="https://www.instagram.com/snowflameprod" target="_blank">
        <svg class="social__icon">
          <use xlink:href="#instagram"></use>
        </svg>
      </a>
      <a class="social__link" href="https://github.com/SnowFlameProd" target="_blank">
        <svg class="social__icon">
          <use xlink:href="#github"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>